server:
  port: 8080

spring:
  application:
    name: gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          "[/**]":
            allowedOriginPatterns:
              - ${APP_CORS_ALLOWED_ORIGINS:http://localhost:3000}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/auth/**, /api/profile/**

        - id: version-service
          uri: http://version-service:8083
          predicates:
            - Path=/api/documents/*/versions/**

        - id: document-service
          uri: http://document-service:8082
          predicates:
            - Path=/api/documents/**, /api/notifications/**

        - id: collab-service-http
          uri: http://collaboration-service:3001
          predicates:
            - Path=/notify, /reload-document/**, /health

        - id: collab-service-ws
          uri: ws://collaboration-service:3001
          predicates:
            - Path=/ws/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: ${JWT_SECRET:dev-app-secret}
